<div class="panel panel-default {{fullScreen ? 'panel-full':''}}" ng-init="noteEditorOpen = false" ng-show="noteEditorOpen">
    <div class="panel-heading">
        <h3 class="panel-title">备注</h3>
        <span>（<a class="help" href="https://www.zybuluo.com/techird/note/46064" target="_blank">GFM语法</a>）</span>
        <i class="close-note-editor glyphicon glyphicon-remove" ng-click="closeNoteEditor()"></i>
        <span class="funcIcon glyphicon glyphicon-resize-full" ng-show="!fullScreen" ng-click="changeFullScreen(true)" aria-hidden="true"></span>
        <span class="funcIcon glyphicon glyphicon-resize-small" ng-show="fullScreen" ng-click="changeFullScreen(false)" aria-hidden="true"></span>
        <span class="funcIcon glyphicon glyphicon-picture" ng-click="insertPicture()" aria-hidden="true"></span>
        <span class="funcIcon glyphicon glyphicon-eye-open" ng-click="previewNote()" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
        <div ng-show="noteEnabled"
             ui-codemirror="{ onLoad: codemirrorLoaded }"
             ng-model="noteContent"
             ui-codemirror-opts="{
                gfm: true,
                breaks: true,
                lineWrapping : true,
                mode: 'gfm',
                dragDrop: false,
                lineNumbers:true
             }">
        </div>
        <p ng-show="!noteEnabled" class="km-note-tips">
            请选择节点编辑备注
        </p>
    </div>
</div>